.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.image {
  border-radius: 50%;
  height: 80px;
}

@media screen and (min-width: 700px) {
  .image {
    height: 200px;
  }
}
