.rules_btn {
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 4px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Bree Serif';
  margin-right: 5px;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .rules_btn {
    font-size: 18px;
    margin-right: 5px;
    padding: 8px;
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  height: 80%;
}

.close_container {
  flex-grow: 1;
}

.close_icon {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  cursor: pointer;
}

.image_con {
  display: flex;
  justify-content: center;
}

.rules_image {
  width: 300px;
  margin: 10px;
  max-width: 450px;
}

@media screen and (min-width: 700px) {
  .rules_image {
    width: 500px;
    margin: 15px;
  }
}
